<h1>Login</h1>

<% if flash[:notice]%>
    <%= flash[:notice] %>
<% end %>

<%= form_tag login_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>

    <%= label_tag :password %>
    <%= password_field_tag :password %>

    <%= submit_tag 'login' %>
<% end %>

<h2>Don't Have an Account Yet?</h2>

<%= button_to "Sign Up", new_user_path, :method => "get" %>