<%= button_to "Home", feeds_path, :method => "get" %>

<h1><%= @feed.title %></h1>
<p><%= link_to "Refresh Feed", refresh_feed_path(@feed) %></p>
<%= link_to "Feed Settings", settings_feed_path(@feed) %>

<ul>
  <% @feed.entries.each do |entry| %>
    <li>
      <%= link_to entry.title, feed_entry_path(entry.feed, entry) %><br>
      <%= "#{entry.author} - #{entry.published_datetime.to_date}" %>
    </li>
  <% end %>
</ul>
