<div class="header">
  <%= button_to "Home", feeds_path, :method => "get" %>
</div>

<div class="sub_header">
  <h1><%= link_to @entry.title, @entry.url %></h1>
  <%= link_to  @entry.feed.title, feed_path(@entry.feed) %> <%= "by #{@entry.author} / #{@entry.published_datetime.strftime("%-d %b %Y")} // read // hide" %>

  <% @entry.tags.each do |tag| %>
  / <%= link_to tag.name, tag_path(tag) %> /
  <% end %>

  <%= link_to "Add Tags", settings_entry_path(@entry) %>
</div>

<div class="entries">
  <%= sanitize @entry.summary %>  
</div>

<div class="footer">
  <%= button_to "Previous", feed_entry_path(@entry.feed, @entry.id - 1), method: :get %>
  <%= button_to "Next", feed_entry_path(@entry.feed, @entry.id + 1), method: :get %>
</div>
