<%= button_to "Home", feeds_path, :method => "get" %>

<h1><%= link_to @entry.title, @entry.url %></h1>
<p><%= link_to  @entry.feed.title, feed_path(@entry.feed) %> <%= "by #{@entry.author} / #{@entry.published_datetime.strftime("%-d %b %Y")} // read // hide" %></p>


<p><%= sanitize @entry.summary %></p>

<%= button_to "Previous", feed_entry_path(@entry.feed, @entry.id - 1), method: :get %>
<%= button_to "Next", feed_entry_path(@entry.feed, @entry.id + 1), method: :get %>

<h3>Tags</h3>
<ul>
  <% @entry.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_path(tag) %></li>
  <% end %>
</ul>