<div class="header">
  <h1>Sign Up</h1>
</div>

  <% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
      <%= message %><br>
    <% end %>
  <% end %>

  <ul>
  <%= form_for @user do |f| %>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>

    <li><%= f.label :username %></li>
    <li><%= f.text_field :username %></li>

    <li><%= f.label :password %></li>
    <li> <%= f.password_field :password %></li>

    <li><%= f.label :password_confirmation %></li>
    <li> <%= f. password_field :password_confirmation %></li>

    <li><%= f.submit "Create Account" %></li>
  <% end %>
</ul>

<div class="sub_header">
  <h2>Already Have an Account?</h2>

  <%= button_to "Login", login_path, :method => "get" %>
</div>