<div class="header">
  <%= button_to "Home", feeds_path, :method => "get" %>
  
  <h1><%= @tag.name %></h1>
</div>

<ul>
  <% @tag.entries.each do |entry| %>
    <li>
      <%= link_to entry.title, feed_entry_path(entry.feed, entry) %>
      <p><%= "#{entry.author} - #{entry.published_datetime.strftime("%-d %b %Y")} - " %>
        <%=link_to entry.feed.title, feed_path(entry.feed) %></p>
      <p><%= sanitize entry.summary %></p>
    </li><br>
  <% end %>
</ul>
